.esSearchComponent,
.esSearch:hover > div {
  display: none;
}
.esSearch:hover > .esSearchComponent {
  display: block;
}
.esSearchIcon {
  color: white;
  font-size: 23px;
}
.DropdownMenu {
  margin-top: -1px !important;
  padding: 2px 9px !important;
}
.InputGrpBtnBtnGroup {
  display: flex !important;
}
.BtnGrpBtn {
  border-radius: 0 !important;
  margin-left: -1px !important;
  padding: 2px 9px;
}
.BtnGrpBtn:last-child {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
/*.BtnGrpFormHrztlBtn[type="submit"] {*/
.BtnGrpFormHrztlBtn {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  padding: 6px 12px;
}
.FormHrztlFormGrp {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0px;
}
.FormGrpFormCtrl:last-child {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  width: 85%;
}
.AdvSearch {
  width: 250px !important;
  margin: 0 auto !important;
  padding-right: 5px;
}
.InputField {
  height: 26px;
  width: 75% !important;
}

@media screen and (min-width: 768px) {
  .AdvSearch {
    width: 250px !important;
    margin: 0 auto !important;
    padding-right: 5px;
  }
  .DDDropdownLg {
    position: static !important;
  }
  .DDDropdownLgDDMenu {
    min-width: 250px !important;
    min-height: 200px !important;
  }
}
