.AdvancedSearch {
  position: relative;
  padding: 10px 10px;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.SelectContainer {
  height: 40px;
  order: none;
  border-bottom: 1px solid gray;
  border-radius: 0px;
}

.CustomSearchBody {
  padding: 15px 0px;
  margin-bottom: 0px;
  display: grid;
}

.CustomSearchBody label {
  color: white;
}

.SelectContainer:focus {
  outline: none;
  border-left: none;
  border-top: none;
}

.CustomSearchContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1000ms ease-in-out;
  flex: 1;
}

.CustomSearchContainer.Show {
  max-height: 100px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .CustomSearchBody {
    padding: 0px 0px;
  }
  .SelectContainer {
    height: 30px;
  }
  .CustomSearchContainer.Show {
    max-height: 60px;
  }
}

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .AdvancedSearch {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    display: block;
  } /* IE11 */
}
