.InputContainer {
  flex: 1;
}

.InputField {
  color: gray;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid gray;
  height: 40px;
}

.InputField:focus {
  outline: none;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .InputField {
    font-size: 14px;
    height: 30px;
  }
}
